{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="../../../static/js/testTools/testTools.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../static/css/testTools.css"/>
{% endblock %}

{% block title %}testTools首页{% endblock %}

{% block content %}{% include 'ad.html' %}

    <div class="ossupload">
        <div>
            <span class="lead" style="margin-right: 10px">xxxx</span>
            <input type="button" class="btn btn-default" value="download" onclick="donwloadLocation('ops')"/>
        </div>

        <hr style="color:#FF0066;height: 2px;background-color:red;margin-left: auto;margin-right: auto;width: 80%">


    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
